body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

table.sudoku td {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 30px;
  border: 1px solid black;
}

table.sudoku tr:first-child td {
  border-top-width: 2px;
}

table.sudoku tr:nth-child(3n) td {
  border-bottom-width: 2px;
}

table.sudoku td:first-child {
  border-left-width: 2px;
}

table.sudoku td:nth-child(3n) {
  border-right-width: 2px;
}

table.sudoku td.initial {
  font-weight: bold;
  background: #EEE;
}

table.sudoku input {
  width: 50px;
  height: 50px;
  border: none;
  background: none;
  text-align: center;
}
